<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JP - Error</title>
    <link rel="stylesheet" href="../css/grid.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="shortcut icon" href="//theme.hstatic.net/1000344185/1000806553/14/favicon.png?v=294" type="image/png" />
</head>
<body>
    <!-- HEADER -->
    <%- include ('./header') -%>
    <!-- BODY -->
    <div class="container">
        <div class="container-collection grid wide">
            <div class="row">
                <div class="col l-12 no-result-sorry">SORRY ! (404)</div>
                <div class="col l-12 no-result">Chức năng đang được xây dựng !</div>
            </div>
        </div>
    </div>
    <!-- BOTTOM -->
    <%- include ('./bottom') -%>
</body>
<script src="../js/js.js"></script>
</html>