
<div class="bottom">
    <div class="bottom__cover">
        <div class="bottom-left">
            <a href="#" class="bottom__left__about">About SWE</a>
            <a href="#" class="bottom__left__policy">Return Policy</a>
        </div>
        <div class="bottom-mid">
            <a href="#" class="bottom__mid__coppyright">©2022 SWE, LLC. All Rights Reserved.</a>
        </div>
        <div class="bottom-right">
            <a href="" class="bottom__right__contact">Contact Us</a>
            <a href="" class="bottom__right__facebook">Facebook</a>
            <a href="" class="bottom__right__instagram">Instagram</a>
        </div>
    </div>
</div>