<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/grid.css" />
    <link rel="stylesheet" href="./css/qlsp.css" />
    <link rel="shortcut icon" href="//theme.hstatic.net/1000344185/1000806553/14/favicon.png?v=294" type="image/png" />
    <title>Quản lý sản phẩm </title>
</head>
<body class="body__login">
    <div class="qlsp__header login__header">

    </div>
    <div class="grid-800 qlsp__container login__container">
        <p class="title__dssp">
        </p>
        <div class="row">
            <div class="col l-2"></div>
            <div class="col l-8 form__login">
                <form action="" method="POST">
                    <label for="" class="taikhoan_td">Tên đăng nhập: </label>
                    <br>
                    <input type="text" class="taikhoan" name="taikhoan" value="">
                    <br>
                    <label for="" class="matkhau_td">Mật khẩu: </label>
                    <br>
                    <input type="password" class="matkhau" name="matkhau" value="">
                    <br>
                    <button type="submit" class="login__submit">Đăng nhập</button>
                </form>
            </div>
            <div class="col l-2"></div>
        </div>
    </div>
</body>
</html>